html {
  font-family: "Roboto Condensed", sans-serif;
  background-color: slate;
}
.container {
  display: grid;
}

@media only screen and (min-width: 960px) {
  .container {
    justify-content: space-around;
  }
}

.container {
  text-align: center;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

article {
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border-radius: 10px;
  background-color: lightgray;
}

button {
  background-color: purple;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  padding: 10px 25px;
  text-align: center;
}
