html {
  font-family: "Bitter", serif;
  background-color: #e6e6fa;
}

.container {
  display: grid;
  width: 100%;
  margin: auto;
}

@media only screen and (min-width: 960px) {
  .container {
    justify-content: space-around;
    width: 50%;
  }
}

.container {
  text-align: center;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: purple;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

article {
  background: rgba(0, 0, 0, 0.04);
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button {
  background-color: purple;
  font-family: "Bitter", serif;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 10px 25px;
  text-align: center;
  border: none;
}

img {
  clip-path: circle();
  width: 30%;
  margin: auto;
}
